---
title: Tersesat
page: 404
---

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>404: Are you getting lost?</title>
   <style>
      html {
         box-sizing: border-box;
         font: 16px/1.2 "Segoe UI", Arial, sans-serif;
      }
      h1, h2, p, ol, ul {
         margin: 0px;
         padding: 0px;
      }
      .box {
         display: flex;
         min-height: 24em;
         align-items: flex-start;
         justify-content: center;
         flex: 1;
         margin: 12em 10em;
         width: 600px;
      }
      .image { 
         width: 200px;
         padding: 10px;
      }
         img {
            border-radius: 0.375em
         }
      .info {
         padding: 10px;
         }
      .info h2 { 
         margin-bottom: 1em;
      }
      .info p { 
         line-height: 1.5;
         margin-bottom: 4em;
      }
   </style>
   <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
</head>
<body>
 <div class="box">
   <div class="image">
      <img src="https://ik.imagekit.io/hjse9uhdjqd/tr:w-178,h-266,fo-center,c-at_max/Pantai_Pulau_Merah_Banyuwangi_4n9WLrg_Bz.jpg" alt="Kusaeni Pantai Merah Banyuwangi">
   </div>
   <div class="info">
      <h2 class="title">Are you getting lost?</h2> 
      <p><strong>Mohon maaf,</strong> halaman yang kamu cari tidak bisa ditemukan. Mungkin tercecer entah kemana, dimana - mana. Silakan gunakan   layanan dari <a href="https://web.archive.org/web/2019*/kusaeni.com" target="_blank">web archive</a> untuk mencari halaman yang dimaksud.</p>
      <p><a href="https://kusaeni.com">back to home</a></p>
   </div>
 </div> 
</body>
</html>
