---
layout: content/post.njk
title: 'Siapakah Kusaeni?'
kategori: tentang
---

<p>Saya adalah seorang <span class="underline">blogger musiman</span> yang menulis di situs ini dengan penuh ke-tidak-konsistensian.</p>
    
<p>Saya menulis jika ada keinginan untuk menulis, jika tidak maka kegiatan utama saya adalah makan, tidur, &amp; kadang kala bepergian atau <a href="#fotografi">travelling</a>.</p>

<h3>Di sosial media</h3>

<p>Saya terdaftar di beberapa akun sosial media berikut ini :</p>
    <ul>
        <li><b>Twitter</b>, saya memiliki 2 akun. Tapi sebaiknya anda
            mengikuti akun umum saya
            yaitu 😸<a href="https://twitter.com/kuspoes">kuspoes</a> karena akun satunya lebih banyak twit
            untuk pandangan politik (yang anda
            biasanya tidak nyaman).
        </li>
        <li><b>Instagram</b>, merupakan akun umum untuk menampilkan
            foto - foto hasil <em>hunting landscape</em>
            . Anda wajib <a class="italic" href="https://instagram.com/kusaeni">follow</a>! ya.
        </li>
        <li><b>Facebook</b>, karena akun Instagram harus tertaut ke
            akun Facebook membuat saya masih memiliki
            akun ini. Tapi saat ini <a href="https://facebook.com/kusaeni">sangat tidak aktif</a>. Sudah saya non-aktifkan.
        </li>
    </ul>

<p>Tidak ada akun <span class="text-blue-600">linkedIn</span> karena saya tidak punya portofolio yang menarik untuk ditampilkan. Dan oh iya  saya adalah seorang <span class="font-semibold text-red-600">Gooner's</span>  meski sekedar karbitan.</p>

<h3>Blog ini</h3>

<p>Setelah memakai beberapa CMS/<em>blog engine</em> sebelumnya seperti Wordpress, Textpattern, Jekyll, Hugo &amp; 11ty. Saya sekarang beralih ke <a href="https://lumeland.github.io">Lume</a> dan <i>vanila</i> CSS <del class="abu">css <em>framework</em> <a href="https://tailwindcss.com">Tailwindcss</a></del>.</p>
  
<p>Logo kaligrafi inisial Kusaeni terdiri dari huruf خ (kh) - س (s) - ن (n) dibuat dengan model kaligrafi oleh <a href="http://logonine.com" alt="LOGONINE : Logo Design Expert" target="_blank">Logonine</a>. Sedangkan logo telur untuk favicon dibuat sendiri dengan mepergunakan Inkscape, terinspirasi dengan model logo geometri di Pinterest.</p>

<p><del class="abu"><em>Source code</em> blog ini di<em>hosting</em> di <a href="https://upcloud.com/">Upcloud</a>, hanya <i>file</i> HTML saja hasil dari <code>build</code> di local. Kamu bisa melihat <i>repository</i> kode blog ini di <a href="https://notabug.org/kuspoes/kusaicom" target="_blank">Notabug</a>.</del></p>

<p>Karena ada masalah dengan Upcloud, maka <em>hosting</em> blog ini dipindahkan ke <a href="https://deno.com" target="_blank">Deno Deploy</a> dan <em>source code</em> ditaruh di <a href="https://github.com/kuspoes/lumekus" target="_blank">Github</a>.</p>

<p class="sidenote">Domain dan hosting situs ini sebelumnya dilayani oleh <a href="https://www.dracoola.com" title="Dracoola Multimedia">Dracoola</a>. Kemudian agar mudah dan cepat saya pindah hosting ke <del>Upcloud</del> Deno Deploy.</p>

<p><i>Management Image and Delivery</i> diladeni oleh <a href="https://imagekit.io" target="_blank">Imagekit</a> untuk menampilkan gambar fotografi dan gambar cover buku. Imagekit memberikan layanan gratis dengan batasan <i>storage and bandwidth</i> sebesar 20Gb masing - masing dan layanan transformasi gambar tidak terbatas.</p>

<p>Untuk pencatatan statistik, saya mempergunakan jasa pencatat statistik gratis dari <a href="https://goatcounter.com" target="_blank">goatcounter</a>. </p>

<p>Sedangkan <i>text editor</i> saya lebih sering mempergunakan <a href="https://vim.org/" title="VIM">VIM</a> (yang berjalan diatas WSL) untuk menulis artikel dan lain - lain. Jika bosan (atau melakukan operasi teks yang agak ribet) saya pergunakan <a href="https://sublimetext.com/" title="Sublimetext">Sublimetext</a> atau <a href="https://lite-xl.com">Lite-XL</a>.</p>

<p><i>Terminal emulator</i> untuk menjalankan WSL adalah <a href="https://github.com/alacritty/alacritty" title="Alacritty Terminal Emulator">Alacritty</a> dengan distro Ubuntu 20.04. Namun sekarang lebih suka pakai Windows Terminal karena terasa lebih ringan dan mudah dikostumisasi dibandingkan Alacritty. <del class="abu">Kadang kala pakai <a href="https://hyper.is" title="Electron Terminal Emulator">Hyper Terminal</a> yang berjalan diatas Electron</del>.<p>

<p>Font yang dipakai di blog ini :</p>
    <ul>
        <li>Anko dari <a href="https://ekobimantara.com/product/anko/">Eko Bimantara</a> digunakan untuk <code>font body</code></li>
        <li>Inter dari <a href="https://rsms.me/inter/" target="_blank">Rasmus Andersson</a>, digunakan untuk <i>font header</i> dan <i>sidenotes</i> atau <i>caption</i>,</li>
        <li>Chunk dari <a href="https://www.theleagueofmoveabletype.com/chunk" target="_blank">Meredith Mandel</a> (the League of Movabletype), dipergunakan khusus untuk <code>H1</code>.</li>
    </ul>
    <p>Sedangkan untuk <code>code</code> mempergunakan <span class="roboto">Roboto Mono</span> dan font standar bawaan masing - masing OS, diantaranya <span class="monaco">Monaco</span>, <span class="consolas">Consolas</span>, <span class="monospace">Monospace</span></p>

<h3>Mengenai tulisan</h3>
<p>Semua tulisan dan catatan yang tertulis di situs ini merupakan pendapat pribadi dari saya &amp; menjadi tanggung jawab dari saya (<em>kecuali saya sebutkan tersendiri</em>).</p>

<p>Usia situs/blog ini sendiri sudah memasuki 16 tahun, sudah banyak sekali artikel maupun catatan yang pernah saya tulis disini. Sayangnya karena satu dua tiga hal arsip - arsip tulisan maupun catatan tersebut lenyap.</p>

<p>Jika anda ada keperluan terkait artikel maupun catatan lama saya, maka <a href="https://web.archive.org/web/2019*/kusaeni.com">halaman web archive</a> ini adalah tempat yang tepat untuk mencari.</p>

<p>Apabila ada tulisan maupun catatan saya yang tidak berkenan bagi anda, silakan menghubungi saya di akun twitter <a class="font-semibold text-blue-600" href="https://twitter.com/kuspoes">@kuspoes</a> dan atau email <a class="font-semibold text-red-600" href="mailto:kus@kusaeni.com">kus&#64;kusaeni.com</a>. Namun jika anda merasa bahwa tulisan saya menarik dan ingin mendapatkan <i>update</i> terbaru setiap terbit, silakan berlangganan <a href="https://kusaeni.com/feed.xml">RSS</a> atau melalui <a href="{{ '/subs' | url }}">email</a>.</p>

<p>Oh iya, layanan <i>update via email</i> ini dibantu (secara gratis) oleh <a href="https://buttondown.email/">ButtonDown</a>.</p>

<h3 id="fotografi">Fotografi</h3>

<p>Ketika psikolog perusahaan (medio 2014) menganjurkan saya untuk mencoba bepergian atau <em>travelling</em> untuk melihat luasnya dunia dan bertemu dengan hal - hal baru, maka pada saat itu saya memutuskan untuk menekuni hobi fotografi.</p>

<p>Hobi ini sangat cocok berdampingan saat <em>travelling</em>, untuk mengabadikan momen dan pemandangan. Gawai yang saya pergunakan sebagai berikut :</p>
        <ul class="space-y-3">
            <li>kamera Nikon D7100, ini adalah kamera semi-profesional dari Nikon. Dipilih karena murah namun memiliki fitur yang cukup bagus.
            </li>
            <li>lensa Nikkor 50mm <em class="font-serif">f</em>/1.4 AF-D untuk <em>potrait &amp; low light photography</em>, dan Tamron 17-50mm <em class="font-serif">f</em>/2.8 untuk <em>landscape photography</em>.
            </li>
            <li>filter Haida ND Nano Pro 100mm series, Haida GND Nano Pro, Haida Slim Pro CPL, Haida Filter Holder untuk <em>filter sets</em> khusus perlengkapan <em>landscape photography</em>.
            </li>
            <li><i>tripod</i> Manfrotto MKBFRA4R dan Beike Q666.
            </li>
        </ul>

        <video class="vid mauto" controls muted>
            <source src="https://ik.imagekit.io/hjse9uhdjqd/vid/NikonD7100-Tamron1750_cydf6JVkQl.mp4" type="video/mp4">
            Your browser does not support HTML video - Peramban Anda tidak mendukung pemutaran video dalam format HTML5
        </video>

<p class="sidenote">Jika dilihat dari segi usia, hampir semua perangkat saya adalah tipe lama, <i>photography is expensive</i>. Mengikuti tren terkini sekarang sudah bukan sebuah pilihan. Apalagi ini cuma sekedar hobi. Saya tidak sedang berdalih, tetapi membayar 30 - 50 juta rupiah untuk sebuah kamera     adalah sebuah pemborosan yang luar biasa. <i>The Best Camera Is The One You Have With You</i> kata <a href="https://www.chasejarvis.com/">Chase Jarvis</a>, pergunakan kamera yang kamu miliki dan maksimalkan untuk menciptakan karya terbaik darimu.</p>

<p>Sebagian besar foto yang saya ambil mempergunakan format <code>NEF/RAW</code> bawaan Nikon dan di proses dengan mempergunakan aplikasi</p>
        <ul class="space-y-3">
            <li>Adobe Lightroom CC dan Adobe Photoshop (<em>desktop</em>) dan Adobe Photoshop Lightroom
                (<em>mobile</em>),
            </li>
            <li>Luminar 3 dari Skylum. Saya masih punya 3 akun untuk Luminar 3 bagi yang berminat silakan hubungi saya, <del>harga murah ada untuk anda</del> gratis (terbatas). Lisensi resmi dari Skylum.</li>
            <p class="sidenote">Skylum sudah mengeluarkan <a href="https://skylum.com/luminar" title="Luminar 4">Luminar 4</a>. Versi terbaru dengan banyak tambahan fitur tersedia. Saya sendiri sampai sekarang masih belum menguasai Luminar 3 dengan baik. Kadang terasa <i>mubadzir</i> membelinya.
            </p>
            <p class="sidenote">
                Meskipun punya beberapa aplikasi pengolah gambar, saya masih belum bisa memaksimalkan aplikasi tersebut. Permasalahan utama seringnya adalah sumber daya PC/Laptop ternyata tidak cukup untuk menjalankan aplikasi - aplikasi diatas. Saat ini aplikasi yang paling sering dipakai untuk mengolah gambar hanya Lightroom Mobile dan <a href="https://play.google.com/store/apps/details?id=com.niksoftware.snapseed&hl=in&gl=US" title="SnapSeed">Snapseed</a> (keduanya tersedia di App Store maupun PlayStore) dari Google.
            </p>
        </ul>
<p>Sedangkan PC/Laptop yang dipergunakan adalah Lenovo Thinkpad E470 dengan Windows 10 Pro, laptop sebelumnya adalah Lenovo Ideapad G460 dengan           ArchLinux namun sudah tidak mampu jika dipergunakan melakukan <em>editing file</em> <code>RAW</code>.

</p><p class="sidenote">Saya berharap bisa mengganti laptop dengan Macbook Pro M1 misalnya.</p>

<p>Sebagian besar hasil foto - foto saya unggah ke Instagram <a class="font-semibold text-red-600 no-underline hover:no-underline" href="https://instagram.com/kusaeni">@kusaeni</a> dan sebagian ke Flickr (hanya <em>backup</em>).</p>

<h3>Buku dan bacaan</h3>

<p>Dulu saya suka membaca apa saja, namun saat ini lebih suka <a href="{{ '/baca' | url }}">membaca buku - buku</a> cerita atau novel. Genrenya pun sebagian besar tentang kriminal/misteri/cerita detektif, meski kadang kala diselingi novel romatika agamis seperti Ayat - Ayat Cinta, Ketika Cinta  Bertasbih dan sebagainya.</p>

<p>Saya menulis resensi buku pertama kali sekitar tahun 2009 (sayang arsipnya hilang). Memang agak jarang karena tidak semua buku pada saat itu ditulis resensinya. Namun saat mengalami <i>hiatus</i>, situs ini dulu memakai <a href="https://affectionate-boyd-df8c4e.netlify.app/">halaman depan</a> hanya  tentang daftar buku saja dengan sedikit resensi sebagai penyerta.</p>

<p>Kemudian saya tambahkan juga <a href="{{ '/baca/rating' | url }}">rating</a> sebagai hasil penilaian saya terhadap isi dan kualitas buku tersebut. Penilaian ini subyektif berdasarkan asumsi saya dan bisa jadi tidak sesuai dengan pendapat orang lain.</p>
