---
layout: content/post.njk
title: Kusaeni suka fotografi
templateEngine: md
kusus: true
keywords: fotografi, landscape, kusaeni, @kusaeni, ig @kusaeni
kategori: fotografi
---


 <img class="herokus" src="https://ik.imagekit.io/hjse9uhdjqd/DSC_1096_plzp8PY5F.jpg" alt="Pantai Banyu Tibo Pacitan" />
 <p class="gray"><a href="https://goo.gl/maps/h4tk2fCnU7SG5Dhh8" title="Pantai Banyu Tibo Pacitan">Pantai Banyu Tibo</a>, Pacitan Jawa Timur. Nikon D7100 + Tamron 17-50mm @ 17mm &middot; 2" exps &middot; <em>f</em>/9.0 &middot; ISO


Untuk beberapa tahun fotografi menempati urutan pertama dalam daftar hal menarik yang harus saya lakukan. <i>Landscape</i> fotografi adalah <em>genre</em> yang saya pilih diantara banyak jenis fotografi, ada beberapa alasan yang membuat saya memilihnya adalah

- **traveling**, berpergian atau melancong adalah salah satu cara saya untuk membuang stress. Tujuan melancong pun lebih banyak untuk melihat wisata alam, dan ini cocok dengan genre fotografi _landscape_,
- **want to impress someone**, kisah masa lalu yang ternyata tidak berjalan sesuai harapan,
- **want to be different**, banyak teman - teman saya yang juga suka memotret namun hanya sekedar memotret. Dan diantara mereka hanya beberapa saja yang serius menekuni fotografi _landscape_. Sedangkan sebagian besar lainnya memotret hanya untuk ala kadarnya saja.

 <p class="sidenote">Meskipun di kemudian hari saya tahu bahwa para penggemar fotografi <i>landscape</i> ini sudah banyak sekali dan menghabiskan banyak uang uang perlengkapan dan perjalanan.</p>
 
 Dari sekian banyak scene di dalam genre __landscape__, saya paling suka mengambil foto saat senja. Karena pada waktu itu (selain di pagi hari) warna - warna langit berwarna warni.
 
  <div class="gals">
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/Simpang_Lima_Gumul_Kediri_2FUwOs7PdfS.jpg" />
        </div>
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/Senja_di_pantai_Pulau_Merah_Banyuwangi_xtPX8DzlBi4.jpg" />
        </div>
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/Pantai_Soge_Pacitan_FodVQOzTgfJa.jpg" />
        </div>
        <div class="flex-1 text-center">
            <img class="w-full" src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/D71_0358_GCefsTMTp.jpg" />
        </div>
    </div>
    <div class="gals">
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/papuma_USMES_4Oj.jpg" />
        </div>
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/Air_Terjun_Grojogan_Dhuwur_Pacitan_91GVhGsH0xJZ.jpg" />
            </div>
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/kawah_putih_ciwidey_pXP7wSutdw.jpg" />
        </div>
        <div class="flex-1 text-center">
            <img class="w-full"
                src="https://ik.imagekit.io/hjse9uhdjqd/tr:n-kus_ig/f3d62349ad6d8500ba324aa690fb49fc_DVQrvZTOX.jpg" />
        </div>
    </div>
  <p class="gcaption">Dari kiri ke kanan: Simpang Lima Gumul di Kediri, Pantai Pulau Merah di Banyuwangi, Pantai Soge di Pacitan, Telaga Ngebel di Madiun, Pantai Papuma Jember, Grojogan Dhuwur di Pacitan, Kawah Putih Ciwidey Bandung, dan Simpang Lima Gumul di Kediri</a>
 
 
 _Photografi landscape_ membutuhkan sumber daya yang lumayan besar, tidak hanya biaya untuk perjalanan (transportasi, akomodasi termasuk penginapan dan makan) dan perangkat melainkan juga tenaga dan fisik yang prima. Apalagi kalo datang ke lokasi yang sulit diakses oleh kendaraan.
 
 Positifnya adalah saya selalu merasa lebih sehat dan gembira setiap pulang _hunting_ foto jika lokasi yang dituju memiliki akses yang menantang/sulit.
 
 Saya adalah seorang _lone traveller_, sangat jarang sekali saya bepergian berkelompok. Mungkin karena _introvet_ atau karena mungkin sudah nyaman berpergian sendirian. Namun saat _hunting landscape photografi_ ke daerah yang belum pernah singgah, ada kawan perjalanan tentu lebih me-nyenangkan (dan aman). Apalagi jika pergi ke daerah Timur Pulau Jawa.
 
  <div class="galsX">   
        <img class="img_lone" src="https://ik.imagekit.io/hjse9uhdjqd/Pantai_Pulau_Merah_Banyuwangi_4n9WLrg_Bz.jpg" alt="Pantai Merah Banyuwangi">
        <div class="flex-1">
            <p class="img-sidenote">Saya sudah lama ingin membuat jurnal perjalanan dan fotografi, tapi sampai saat ini belum terlaksana. Punya banyak waktu tapi tidak punya banyak motivasi dan <i>resources</i>.</p>
            <p class="img-sidenote">Area <i>hunting landscape photografi</i> saya paling banyak diseputaran Jawa Timur, yang paling banyak dikunjungi adalah daerah sekitaran Mataraman (eks. Karesidenan Madiun), dengan kota Pacitan adalah yang paling sering dikunjungi.
            </p>
            <p class="img-sidenote">Sedangkan untuk kawasan Timur yang paling sering adalah Jember dan sesekali ke Banyuwangi. Favorit adalah Kabupaten Banyuwangi, hanya saja kendala di transportasi  yang sering menjadi masalah besar.
            </p>
            <p class="img-sidenote">Kawasan Barat terbatas di Kabupaten Bandung yaitu Kawah Putih Ciwidey. </p>
        </div>
  </div>
	
 Untuk kamera saya mempergunakan kamera lama dari **Nikon tipe D7100** dengan lensa **Nikkor 50mm** & **Tamron 17-50mm** serta beberapa aksesoris untuk keperluan _landscape_. Untuk lebih lengkapnya bisa dilihat di halaman [perangkat yang dipergunakan](/tentang#fotografi).
 
 Saya hampir selalu mempergunakan format `RAW NEF` untuk format gambar. Karena format ini lebih mudah saat dilakukan _editing_ dengan aplikasi seperti Adobe Lightroom maupun Luminar.
 
 Ya, 99% foto yang diambil *selalu diedit* terlebih dahulu. Aplikasi yang paling sering saya pakai untuk mengedit foto adalah Adobe Lightroom Mobile (saya suka versi _mobile_, karena versi *desktop*nya cukup lambat akibat spesifikasi laptop yang tidak memadai). Untuk _finishing_ saya pakai aplikasi gratis Snapseed dari Google (tersedia di PlayStore maupun AppStore).
 
 Proses *editing* atau *workflow* lebih sering melakukan **cropping**, **adjust color**, dan **detil**. Saya bukan penggemar Photo Manipulation, meskipun beberapa kali memakai teknik ini namun hanya sekedar untuk menghilangkan minor detail.
 
 Hasil *photo manipulation* memang terlihat indah dan eksentrik, namun untuk *traveller* tidak bisa dijadikan acuan. Tidak kurang saya sering tertipu dengan foto - foto di Instagram yang terlihat luar biasa namun saat didatangi <mark>ternyata hasilnya 0 besar!</mark>. Saya tidak ingin menipu *followers* saya dengan gambar yang sudah di manipulasi.
 
 Kunjungi akun Instagram saya di Instagram <a class="font-sans font-semibold text-red-600 no-underline hover:no-underline" href="https://instagram.com/kusaeni">@kusaeni</a>, untuk melihat lebih banyak foto - foto Landscape</strong> yang sudah saya potret dan jangan lupa untuk <strong>follow</strong>!.
