---
layout: content/buku.njk
title: 'Baca'
kusus: true
ringkasan: 'Buku yang sudah dan sedang dibaca'
---

<div class="baca">
{% for buku in search.pages("baca", "date=desc") %}
    <div class="item_buku">
        <a href="{{ buku.data.url }}">
         <img class="item_cover" src="{{ buku.data.coverImg }}">
        </a>
    </div>
{% endfor %}    
</div>

