---
layout: layout/content.vto
title: 'Baca'
kusus: true
ringkasan: 'Buku yang sudah dan sedang dibaca'
---

<div class="baca">
{{ for buku of search.pages("buku", "date=desc") }}
    <div class="item_buku">
        <a href="{{ buku.url }}">
            <img class="item_cover fuck bayang" src="{{ buku.coverImg }}" alt="{{ buku.title }}" loading="lazy" fetchpriority="high" image-size>
        </a>
    </div>
{{ /for }}
</div>
