{{ include "bagian/header.vto" }}
<article>
<div class="page">
    <div class="meta">
        <p class="date">
            {{ if date }}
            <time datetime="{{ date }}"> {{ date |> date("id") }}</time>
            <span class="waktu_baca">
                — sekitar {{ readingInfo.minutes }} menit membaca</span
            >
            {{ /if }}
        </p>
        <h1>{{ title }}</h1>
        {{ if ringkasan }}
        <p class="subtitle">{{ ringkasan |> md(true) }}</p>
        {{ /if }}
        <div class="postag1">
            {{ if tags }} {{ for tag of it.tags }} {{ set page =
            search.page(`type=tag tag="${tag}"`) }} {{ if page }}
            <a data-pagefind-filter="filter" class="badge" href="{{ page.url }}"
                >#{{ tag }}</a>
            {{ /if }} {{ /for }} {{ /if }}
        </div>
    </div>
    <div class="content">
        <div class="tocx">
        {{ if content }} {{ if it.tocx }} {{ if toc.length }}
                <nav class="toc">
                    <h4>Daftar Isi</h4>
                    <ol>
                        {{ for item of toc }}
                        <li>
                            <a href="#{{ item.slug }}">{{ item.text }}</a>
                            {{ if item.children.length }}
                            <ul>
                                {{ for child of item.children }}
                                <li>
                                    <a href="#{{ child.slug }}">{{ child.text }}</a>
                                </li>
                                {{ /for }}
                            </ul>
                            {{ /if }}
                        </li>
                        {{ /for }}
                    </ol>
                </nav>
                <aside class="toc_stat">
                    <p class="readingInfoTOC"><b>{{ readingInfo.words.toLocaleString("id-ID") }}</b> kata — sekitar <b>{{ readingInfo.minutes }}</b> menit untuk membaca</p>
                </aside>
                {{ /if }} {{ /if }}
        </div>
            <div class="article_content">
                {{ content }}
            </div>
                {{ /if }}
        {{ if footnotes.length }}
        <aside role="note" class="footnotes">
            <h4>Footnotes:</h4>
            {{ for note of footnotes }}
            <div class="notes">
                <div class="note-id">
                    <a href="#{{ note.refId }}" id="{{ note.id }}" class="anotes"
                        ><span class="footnomer">{{ note.label }}</span></a
                    >
                </div>
                {{ note.content}}
            </div>
            {{ /for }}
        </aside>
        {{ /if }}
        <hr />
        {{ set relasih = search.pages(`${ relasi }`, `date=desc`, 6)}}
        {{ if relasih.length > 1 }}
        <div id="related_post">
          <h4 style="margin:0em 0 1em 0.8em; padding:0em; font-size: 1.1em">Artikel terkait <a href="/tags/{{ relasi }}">#{{ relasi }}</a></h4>
          {{ for rela of relasih.slice(1,6) }}
          <div class="related_post_list">
            <span class="related_post_date">{{ rela.date |> date('id') }}</span>
            <a class="related_post_link" href="{{ rela.url }}">
            <h4>{{ rela.title }}</h4></a>
            <p class="post_ringkasan">{{ rela.ringkasan |> md(true) }}</p>
            </a>
          </div>
                    {{ /for }}
        </div>
            <hr />
          {{ /if }}

        {{ if comment }}
            <div id="dropcomments-container"></div>
        {{ /if }}
        {{ if it.comments?.src }}
        <div class="comments-section">
          <header class="comments-header">
            <h4>{{ metadata.comments.title }}</h4>
            <p>{{ metadata.comments.description.replace(":src:", it.comments.real) }}</p>
            <p><code class='fdvs' id='cp_fdvs'>{{ it.comments.real }}</code></p>
          </header>
          <mastodon-comments
            src="{{ it.comments.src }}"
            cache="{{ it.comments.cache ?? 60 }}"
            class="comments"
          >
            {{ metadata.comments.empty }}
          </mastodon-comments>
        </div>
        {{ /if }}

       </div>
    <!--
    <div class="kanan">
    </div>
    -->
</div>
</article>
{{ include "bagian/footer.vto" }}
