@font-face {
    font-display: swap;
    font-family: DMSerif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("/assets/fonts/DMSerif/DMSerifDisplay-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: DMSerif;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url("/assets/fonts/DMSerif/DMSerifDisplay-Italic.woff2") format("woff2");
}

@font-face {
    font-family: SofiaKus;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("/assets/fonts/Sofia/Sofia-Kus_Regular.woff2") format("woff2");
}
