@media screen and (max-width: 800px) {
	.container, .w-500 {
		width: 100%
	}
	
	.masthead {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		width: 100%;
	}

	.logo_svg {
		width: 100%;
 		height: 90px;
	}

	.menu {
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}
	
	.footer {
		width: 90%
	}

	.buku {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1em auto;
		width: 100%;
	}

	.buku__cover {
		width: 98%;
		margin: 0px auto;
		background-color: yellow;
	}

	img.cover {
		width: 100% !important;
		height: auto;
	}

	.buku__info	{
		width: 98%;
		margin: 1em auto;
	}

	.info__desc, .info__h4 {
		width: 90%;
		padding: 0;
	}

	.info__h4, .info__author {
		padding-left: 14px;
	}

	ol, ul { width: 100% }

	.selayang{
		width: 99%;
	}

	img.layang {
		transform: none;
	}

	.selayang__cover:hover img.layang {
		transform:  none;
	}
	
	.jurnal_header h1 {
		width: 95%;
	}

	.daftar__artikel, .d__art {
		width: 90%;
	}

	.d__art li {
		display: flex;
		justify-content: space-between;
	}

	.tagline, .cool {
		display: none;
	}

	.post_subs {
    width: 100%;
	}

	li {
    margin-left: 2em;
	 line-height: 1.3em;
	}

	.relasi {
    width: 95%;
	}

	img.herokus {
		height: auto;
	}

	.galsX {
		flex-direction: column;
		width: 95%;
		align-items: center;
	}

	.baca {
		width: 100%;
		grid-template-columns: 1fr 1fr;
		column-gap: 0.5em;
	}
	.item_buku {
		margin-left:1em;
		margin-right: 1em;
	}
	.item_cover {
		width: 150px;
	}
	video, table {
		width: 100%;
		display: block
	}

	.bintang {
		width: 16px;
	}
	
	
}

@media screen and (min-width: 500px) and (max-width: 800px) {
	.baca {
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 0.5em;
	}
	.w-500, .post-navigation {
		width: 100%
	}

	
}

@media screen and (max-width: 800px) {
	.judul, .subtitle, .gray, p, blockquote, ol, ul, h3 {
		width: 95% !important;
	}

	.buku, .w-500, .post-navigation {
		width: 98%;
	}

	img, pre {
		width: 100%;
		display: block;
	}

	pre code {
		padding: 10px;
		display: block;
		hyphens: manual;
		white-space: pre-wrap;
	}

	.gray {
		text-align: center;
	}

	p, blockquote {
		text-align: justify;
	}

	.judul {
		font:  1.8em/1.4 var(--serif);
		font-weight: 800;
	}

	.g__gals {
	grid-template-columns: 1fr;
	width: 90%;
	row-gap: 2%;
	}

	.masthead {
		width: 100%;
	}
} /* < 600px */

@media screen and (min-width: 600px) and (max-width: 800px) {
	.judul {
		font:  2.2em/1.4 var(--serif);
		font-weight: bold;
	}

	.tagline {
		display: none;
	}
} /* 600 - 800px */
