            <div class="footer">
                <p>kusaeni&#169;2024 dibuat dengan <a href="https://lume.land">lume</a> dan <a href="https://deno.com">deno</a></p>
            </div>
        </div>
    </body>
</html>
