            <div class="footer">

                <img class="kus-svg" src="/assets/img/kusaeni_poly.svg" alt="kusaeni svg" />
                <p>kusaeni&#169;<script>document.write(new Date().getFullYear())</script> dibuat dengan <a href="https://lume.land">lume</a> dan <a href="https://deno.com">deno</a></p>
                <p>temukan saya di <a href="https://twitter.com/kuspoes">twitter</a> atau <a href="https://sok.egois.org/@poes">fediverse</a></p>
                <p>source code disimpan di <a href="https://github.com/kuspoes/kusaenicom">github</a></p>
            </div>
        </div>
        <script data-goatcounter="https://kusaeni.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        {{ if it.lightbox }}
        <script>const lightbox = GLightbox({ selector: '.gallery a' });
        const lightbox2 = GLightbox({ selector: '.gal a' })
        </script>
        {{ /if}}
</body>
</html>
