<!doctype html>
<html lang="id">
    <head>
        <title>{{ title }} </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ it.ringkasan || metadata.description }}">
        <meta name="keywords" content="{{ it.keywords || metadata.meta_key}}">
        <meta name="author" content="{{ metadata.author.name || "Kusaeni" }}">
        <meta name="google-site-verification" content="rAARf-cQZVS4yejyjEp5xFTzsm0LHNaLrbCS-JYlB0" />
        <meta name=”robots” content=”noai, noimageai”>
        <link rel="stylesheet" href="/assets/css/reset.css" inline>
        <link rel="stylesheet" href="/assets/css/fonts.css" inline>
        {{ if it.code }}
        <link rel="stylesheet" href="/assets/css/prism.min.css">
        {{ /if }}
        <link rel="stylesheet" href="/assets/css/styles.v2.css" inline>
        {{ if it.style }}
        <link rel="stylesheet" href="/assets/css/posts/{{ it.style }}" inline>
        {{ /if }}
        {{ if it.comment }}
        <script src="/assets/js/main.js" type="module"></script>
        <link rel="stylesheet" href="/assets/css/comments/comments.css">
        <script defer src="https://chirpy.dev/bootstrapper.js" data-chirpy-domain="kusaeni.com"></script>
        {{ /if }}
        {{ if it.galeri }}
        <link rel="stylesheet" href="https://unpkg.com/photoswipe@5.4.3/dist/photoswipe.css">
        <style>
          .masonry-wrapper {
            column-count: 3;
            column-gap: 5px;
            max-width: 1000px;
            margin: 0 auto;
        }
        .masonry-item {
            display: inline-block;
            width: 100%;
            margin-bottom: 15px;
            border-radius: 8px;
            overflow: hidden;
            /* box-shadow: 0 4px 6px rgba(0,0,0,0.05);
            transition: transform 0.3s ease; */
        }

        a.masonry-item:hover {
            transform: translateY(-1px);
            box-shadow: none;
            border: none;
            background-color: transparent;
        }

        .masonry-item img {
            width: 100%;
            display: block;
            height: auto;
        }

        @media (max-width: 768px) {
            .masonry-wrapper { column-count: 2; }
        }
        @media (max-width: 480px) {
            .masonry-wrapper { column-count: 1; }
        }
        </style>

        <script type="module">
        import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe@5.4.3/dist/photoswipe-lightbox.esm.js';

        const lightbox = new PhotoSwipeLightbox({
            gallery: '#my-gallery',
            children: 'a.masonry-item',
            pswpModule: () => import('https://unpkg.com/photoswipe@5.4.3/dist/photoswipe.esm.js')
        });

        lightbox.init();
        </script>
        {{ /if }}
        <link rel="icon" type="image/x-icon" href="{{ metadata.favicon }}">
        <link rel="alternate" type="application/rss+xml" title="Subscribe to Kusaeni Jurnal" href="https://kusaeni.com/feed.xml">
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ it.title || title }}" />
        <meta property="og:description" content="{{ it.title || title }} : {{ it.ringkasan || metadata.description }}" />
        <meta property="og:url" content="{{ it.url |> url(true) }}" />
        <meta property="og:image" content="{{ it.og_images || metadata.foto_profil }}" />
        <script src="https://darkvisitors.com/tracker.js?project_key=fcca7782-9f39-48ec-b960-812c0922a91f" async></script>
    </head>
    <body>
        <div id="container">
        {{ include "bagian/menu.vto" }}
