<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }} </title>
        <link rel="stylesheet" href="{{ "/assets/css/reset.css" |> url(true) }}">
        <link rel="stylesheet" href="{{ "/assets/css/fonts.css" |> url(true) }}">
        <link rel="stylesheet" href="{{ "/assets/css/styles.v2.css" |> url(true) }}">
        {{ if it.code }}
        <link rel="stylesheet" href="{{ "/assets/css/tmrw.css" |> url(true) }}">
        {{ /if }}
        {{ if it.style}}
    <style>
        {{ it.style }}
    </style>
        {{ /if }}
    </head>
    <body>
        <div id="container">
        {{ include "bagian/menu.vto" }}

