<!doctype html>
<html lang="id">
    <head>
        <title>{{ title }} </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ it.ringkasan || metadata.description }}">
        <meta name="keywords" content="{{ it.keywords | metadata.meta_key}}">
        <meta name="author" content="{{ metadata.author.name || "Kusaeni" }}">
        <meta name="google-site-verification" content="rAARf-cQZVS4yejyjEp5xFTzsm0LHNaLrbCS-JYlB0" />
        <meta name=”robots” content=”noai, noimageai”>
        <link rel="stylesheet" href="/assets/css/reset.css" inline>
        <link rel="stylesheet" href="/assets/css/fonts.css" inline>
        <link rel="stylesheet" href="/assets/css/styles.v2.css" inline>
        {{ if it.style }}
        <link rel="stylesheet" href="/assets/css/posts/{{ it.style }}" inline>
        {{ /if }}
        {{ if it.code }}
        <link rel="stylesheet" href="/assets/css/prism.min.css">
        {{ /if }}
        {{ if it.comment }}
        <!--
        <script src="/assets/js/main.js" type="module"></script>
        <link rel="stylesheet" href="/assets/css/comments.css">
        -->
        <script defer src="https://chirpy.dev/bootstrapper.js" data-chirpy-domain="kusaeni.com"></script>
        {{ /if }}
        <link rel="icon" type="image/x-icon" href="{{ metadata.favicon }}">
        <link rel="alternate" type="application/rss+xml" title="Subscribe to Kusaeni Jurnal" href="https://kusaeni.com/feed.xml">
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ it.title || title }}" />
        <meta property="og:description" content="{{ it.title || title }} : {{ it.ringkasan || metadata.description }}" />
        <meta property="og:url" content="{{ it.url |> url(true) }}" />
        <meta property="og:image" content="{{ it.og_images || metadata.foto_profil }}" />
    </head>
    <body>
        <div id="container">
        {{ include "bagian/menu.vto" }}
