<div class="nav">
	<div class="logo">
		<a href="/" class="kusaeni"><img class="kuslogo" src="/assets/img/kusaeni.png" alt="kusaeni"></a>
	</div>
	<div class="menu">
		<a href="/baca">baca</a>
		<a href="/foto">foto</a>
		<a href="/tentang">tentang</a>
	</div>
</div>