<div class="nav">
	<div class="logo">
		<a href="/" rel="me" class="u-url kusaeni">kusaeni</a>
	</div>
	<div class="menu">
{{#     {{ if ["baca", "foto", "tentang", "tags", "jurnal"].some(kata => url.includes(kata)) }} #}}	
		<a href="/arsip">arsip</a>
		 {{# {{ /if }} #}}
		<a href="/baca">baca</a>
		<a href="/foto">foto</a>
		<a href="/tentang">tentang</a>
	</div>
</div>
<div class="now" id="poesnow">
<p>... gak lagi ngapa - ngapain</p>
</div>

<script type="module">
  const el = document.getElementById("poesnow");

  try {
    const res = await fetch("https://sepoi.kuspoes.deno.net/now");
    const json = await res.json();

    if (!json.text) {
      el.innerHTML = "<p>tidak ada status atau belum sempat nulis.</p>";
    } else {
      el.innerHTML = `
        <p>..${json.text} <a href="${json.url}" target="_blank" rel="noopener"> →</a></p>
      `;
    }
  } catch {
    el.innerHTML = "<p>..kejebak CORS atau kamu lagi build di local</p>";
  }
</script>
