{% include './../layouts/header.njk' %}

<h3 class="judul">{{ title }}</h3>
<p class="subtitle">{{ subtitle or ringkasan }}</p>

{{ content | safe }}

<div class="post-navigation">
   <div class="nav_kiri"> 
      {%- set previousPost = search.previousPage(url, "jurnal") %}
      {%- if previousPost %}
      <strong>← <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a></strong>
      {% endif %}
   </div>
   <div class="nav_kanan">
      {%- set nextPost = search.nextPage(url, "jurnal") %}
      {%- if nextPost %}
      <strong><a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a> →</strong>
      {% endif %}
   </div>

</div>


<h3>Comment's</h3>
<div id="cusdis_thread" class="w-500 m-auto"
  data-host="https://cusdis.com"
  data-app-id="4eec091e-f1e4-45a3-b6c2-a4daee579f1c"
  data-page-id="{{ url }}"
  data-page-url="{{ url }}"
  data-page-title="{{ title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

{% include './../content/subs.njk' %}
{% include './../layouts/footer.njk' %}
