<div class="post_subs">
<p class="subs_bold">Berlangganan Artikel</p>
<p>dapatkan notifikasi saat artikel baru diterbitkan, langsung ke dalam inboxmu</p>
<form action="https://buttondown.email/api/emails/embed-subscribe/kuspoes" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/kuspoes', 'popupwindow')" class="embeddable-buttondown-form btb">
                <label class="blok mb1e hidden" for="bd-email"></label>
                <input class="email_subs" type="email" name="email" id="bd-email" placeholder="you@youremail.com">
                <input type="hidden" value="1" name="embed">
                <input class="submit_subs" type="submit" value="Subscribe">
                </form>
                <p class="btbn">Layanan ini didukung oleh <a class="ba" href="https://buttondown.email" target="_blank">Buttondown</a>.</p>
</div>
