---
title: JSON
---

[{% for post in search.pages("baca") %}  
{
    "title": "{{ post.data.title }}",
    "date": "{{ post.data.date }}",
    "url": "{{ post.url }}",
    "ringkasan": "{{ post.data.ringkasan }}",
    "penulis": "{{ post.data.penulis }}",
    "coverImg": "{{ post.data.coverImg }}",
    "resensi": "{{ post.data.resensi }}"
}{{ '' if loop.last else ',' }}
{% endfor %}]
