---
title: Jurnal Kusaeni
layout: base.njk
page: tentang
---

<div class="jurnal_header">
<h1 class="jurnal">Jurnal</h1>
<p>Berlangganan lewat <a href="/subs">email</a> atau <a href="/feed.xml">RSS</a></p>
</div>

<!-- -->

<div class="daftar__artikel">
		<ol class="d__art">
            {% for post in search.pages("jurnal", "date=desc") %}            
            <li>
                  <span class="cool">{% if post.data.favorit %}♥{% else %}&nbsp; &nbsp;{% endif %}</span>
                  <a href="{{ post.data.url }}">{{ post.data.title }}</a>
                  <span class="dtime">{{ post.data.date | date('POST') }}</span>
            </li>
            {% endfor %}
      </ol>
</div>
