---
url: /.well-known/webfinger
---

{
    "subject":"acct:poes@sok.egois.org",
    "aliases":["https://sok.egois.org/@poes","https://sok.egois.org/users/poes"],
    "links":[{
                "rel":"http://webfinger.net/rel/profile-page",
                "type":"text/html",
                "href":"https://sok.egois.org/@poes"
            },
            {
                "rel":"self",
                "type":"application/activity+json",
                "href":"https://sok.egois.org/users/poes"
            },
            {
                "rel":"http://ostatus.org/schema/1.0/subscribe",
                "template":"https://sok.egois.org/authorize_interaction?uri={uri}"
            }]
}
